<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061379533685-dk8qq4h89vmotfm7150bfdg87lm1fn4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061379533685-dk8qq4h89vmotfm7150bfdg87lm1fn4p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1061379533685-bcqcgtesnafp7gf88jg31ibaf50gakkf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXSJ5QyHORCm1nOlVLYU5RmwE43084eSg</string>
	<key>GCM_SENDER_ID</key>
	<string>1061379533685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthentications</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-all-13936</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-all-13936.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061379533685:ios:b290fc379b759118d6013c</string>
</dict>
</plist>